.App {
  body {
    background-color: rgb(252, 251, 249);
    font-family: "Roboto", sans-serif;
  }
  .weather-app {
    background-color: #ffffff;
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    box-shadow: 0 30px 50px rgb(65, 74, 97, 0.14);
    border-radius: 16px;
  }
  
  .search-form {
    text-align: center;
  }
  .search-form-input {
    background-color: rgb(224, 225, 228);
    width: 470px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 50px 50px rgba(65, 74, 97, 0.14);
    padding: 15px;
    font-size: 16px;
  }
  .search-form-button {
    background-color: rgba(65, 74, 97);
    color: whitesmoke;
    width: 100px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 50px 50px rgba(65, 74, 97, 0.14);
    padding: 15px;
    font-size: 16px;
    margin: 6px;
    transition: 200ms ease-in-out;
  }
  
  .search-form-button:hover {
    color: rgb(65, 74, 97);
    font-weight: bolder;
    background: rgb(248, 247, 247);
    border: 1px solid rgb(65, 74, 97);
    cursor: pointer;
  }
  
  header {
    border-bottom: 1px solid rgba(65, 74, 97, 0.106);
    padding: 0 0 30px 0;
  }
  
  .weather-information {
    display: flex;
    justify-content: space-between;
  }
  .city-container {
    padding: 30px 40px 20px 30px;
  }
  .city {
    margin: 0;
    font-size: 40px;
    line-height: 48px;
    color: rgb(55, 55, 60);
  }
  .weather-details {
    margin-top: 10px;
    font-size: 16px;
    line-height: 22px;
    color: rgba(17, 15, 30, 0.4);
  }
  .weather-measurements {
    color: rgba(65, 74, 97, 0.55);
    font-weight: bolder;
  }
  .weather-temperature-container {
    display: flex;
    padding: 50px 35px 20px 50px;
  }
  
  .weather-icon {
    font-size:65px
  }
  .weather-degrees {
    font-size: 88px;
    line-height: 88px;
    font-weight: bold;
    color: rgb(55, 55, 60);
  }
  .weather-unit {
    font-size: 22px;
    margin: 10px 10px 0 0;
  }
  
  .weather-forecast {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 0 50px 20px 30px;
  }
  .weather-forecast-date {
    font-size: 18px;
    font-weight: 500;
    color: rgb(55, 55, 60, 0.9);
    margin: 10px;
  }
  
  .weather-forecast-icon {
    width: 60px;
    margin-bottom: 10px;
  }
  .weather-temperatures {
    font-size: 15px;
    color: rgb(55, 55, 60);
  }
  .weather-forecast-temperature-min {
    opacity: 0.6;
  }
  footer {
    margin: 10px 5px 10px 5px;
    border-top: 1px solid rgba(65, 74, 97, 0.106);
    padding: 30px 0 0 0;
    text-align: center;
    font-size: 13px;
  }

  footer a {
    color:black;
    font-weight: 450;
    text-decoration:none
  }
  
}
